<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SI_Kasir_Toko.Properties.Settings.SI_KASIR_PBOConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SI_KASIR_PBO;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>